<%- include('partial/header'); -%>


<nav class="admin-main-menu">
    <ul>
        <li class="active">
            <a href="/admin/dashboard"><img src="/images/icon/users-icon.png" alt="">Dashboard</a>
        </li>
        <li>
            <a href="/admin/user"><img src="/images/icon/users-icon.png" alt="">User List</a>
        </li>
        <li>
            <a href="/admin/banner"><img src="/images/icon/banner-icon.png" alt="">Banners</a>
        </li>
        <li>
            <a href="/admin/app-image"><img src="/images/icon/banner-icon.png" alt="">App Image</a>
        </li>
        <li>
            <a href="/admin/settings"><img src="/images/icon/settings-icon.png" alt="">Settings</a>
        </li>
        <li>
            <a href="/admin/notice"><img src="/images/icon/notification-icon.png" alt="">Notice</a>
        </li>
        <li>
            <a href="/admin/message"><img src="/images/icon/message-icon.png" alt="">Message</a>
        </li>
        <li>
            <a href="/admin/daily-update"><img src="/images/icon/daily-update-icon.png" alt="">Daily Update</a>
        </li>
        <li>
            <a href="/admin/file-request"><img src="/images/icon/banner-icon.png" alt="">File Request</a>
        </li>
        <li>
            <a href="/admin/personal-request"><img src="/images/icon/banner-icon.png" alt="">Personal Request</a>
        </li>
        <li>
            <a href="/admin/ic"><img src="/images/icon/ic-icon.png" alt="">IC</a>
        </li>
        <li>
            <a href="/admin/buy-sell"><img src="/images/icon/buy-sell-icon.png" alt="">Buy & Sell</a>
        </li>
        <li>
            <a href="/admin/shop"><img src="/images/icon/buy-sell-icon.png" alt="">Shop</a>
        </li>
        <li>
            <a href="/admin/order"><img src="/images/icon/order-icon.png" alt="">Orders</a>
        </li>
        <li>
            <a href="/admin/freelancer"><img src="/images/icon/freelancer-icon.png" alt="">Freelancer List</a>
        </li>
        <li>
            <a href="/admin/packages"><img src="/images/icon/message-icon.png" alt="">Packages</a>
        </li>
        <li>
            <a href="/admin/file-system"><img src="/images/icon/notification-icon.png" alt="">File System</a>
        </li>
        <li>
            <a href="/admin/course"><img src="/images/icon/course-icon.png" alt="">Course</a>
        </li>
        <li>
            <a href="/admin/course-category"><img src="/images/icon/course-icon.png" alt="">Course Category</a>
        </li>
        <li>
            <a href="/admin/course-enrollment"><img src="/images/icon/course-icon.png" alt="">Course Enrollment</a>
        </li>
        <li>
            <a href="/admin/chat-alert"><img src="/images/icon/course-icon.png" alt="">Chat Alert</a>
        </li>
        <li>
            <a href="/admin/division"><img src="/images/icon/course-icon.png" alt="">Divisions</a>
        </li>
        <li>
            <a href="/admin/district"><img src="/images/icon/course-icon.png" alt="">Districts</a>
        </li>
        <li>
            <a href="/admin/bid-info"><img src="/images/icon/course-icon.png" alt="">Bid Info</a>
        </li>
        <li>
            <a href="/admin/cancel-bid"><img src="/images/icon/course-icon.png" alt="">Cancel Bid</a>
        </li>
        <li>
            <a href="/admin/plan"><img src="/images/icon/course-icon.png" alt="">Boosting Plan</a>
        </li>
        <li>
            <a href="/admin/plan-detail"><img src="/images/icon/course-icon.png" alt="">Boosting Details</a>
        </li>
    </ul>
</nav>
</div>

<section class="main-content">
    <div class="main-content-header">
        <span class="mobile-menu-icon">
            <i class="bi bi-list"></i>
        </span>

        <div class="main-content-header-top">
            <div class="admin-info">
                <img src="/images/admin-user-image.png" alt="">
                <h6>Admin</h6>
            </div>
            <a href="/admin/log-out" class="logout-btn">Logout</a>
        </div>
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>

            <div class="row">

                <!-- Earnings (Monthly) Card Example -->

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Freelancer Pendings</div>
                                    <a href="/admin/freelancer-pending" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalFreelancerPendings %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Delivered Orders</div>
                                    <a href="/admin/order?status=Delivered"
                                        class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= deliveredOrdersCount %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Pending Orders</div>
                                    <a href="/admin/order?status=Pending" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= pendingOrdersCount %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Unseen Messages</div>
                                    <a href="/admin/message" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalUnseenMessages %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        User Reports</div>
                                    <a href="/admin/user-report" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalUserReports %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        User Reset</div>
                                    <a href="/admin/user-reset" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalUserReset %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        File Requests</div>
                                    <a href="/admin/file-request" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= toalFileRequests %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Personal Requests</div>
                                    <a href="/admin/personal-request" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalPersonalRequests %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Pending Buy Sells</div>
                                    <a href="/admin/buy-sell?status=0" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= totalPendingBuySells %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Freelancer Withdraw</div>
                                    <a href="/admin/freelancer-withdraw" class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= freelancerWithdraw %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Subscription Over User</div>
                                    <a href="/admin/subscription-overed-users"
                                        class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= subscriptionOveredUsers %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        One Year Over Verified User</div>
                                    <a href="/admin/one-year-overed-verified-user"
                                        class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= oneYearOveredVerifiedUser %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                        Verified Request</div>
                                    <a href="/admin/freelancer-enrollment"
                                        class="h5 mb-0 font-weight-bold text-gray-800"
                                        style="text-decoration: none;"><%= freelancerEnrollments %></a>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const activeItem = document.querySelector(".active");
        if (activeItem) {
            activeItem.scrollIntoView(false);
        }
    });
</script>
<%- include('partial/footer'); -%>