<%- include('partial/header'); -%>
<nav class="admin-main-menu">
  <ul>
    <li>
      <a href="/admin/dashboard"><img src="/images/icon/users-icon.png" alt="">Dashboard</a>
    </li>
    <li>
      <a href="/admin/user"><img src="/images/icon/users-icon.png" alt="">User List</a>
    </li>
    <li>
      <a href="/admin/banner"><img src="/images/icon/banner-icon.png" alt="">Banners</a>
    </li>
    <li>
      <a href="/admin/app-image"><img src="/images/icon/banner-icon.png" alt="">App Image</a>
    </li>
    <li>
      <a href="/admin/settings"><img src="/images/icon/settings-icon.png" alt="">Settings</a>
    </li>
    <li>
      <a href="/admin/notice"><img src="/images/icon/notification-icon.png" alt="">Notice</a>
    </li>
    <li>
      <a href="/admin/message"><img src="/images/icon/message-icon.png" alt="">Message</a>
    </li>
    <li>
      <a href="/admin/daily-update"><img src="/images/icon/daily-update-icon.png" alt="">Daily Update</a>
    </li>
    <li>
      <a href="/admin/file-request"><img src="/images/icon/banner-icon.png" alt="">File Request</a>
    </li>
    <li>
      <a href="/admin/personal-request"><img src="/images/icon/banner-icon.png" alt="">Personal Request</a>
    </li>
    <li>
      <a href="/admin/ic"><img src="/images/icon/ic-icon.png" alt="">IC</a>
    </li>
    <li>
      <a href="/admin/buy-sell"><img src="/images/icon/buy-sell-icon.png" alt="">Buy & Sell</a>
    </li>
    <li>
      <a href="/admin/shop"><img src="/images/icon/buy-sell-icon.png" alt="">Shop</a>
    </li>
    <li>
      <a href="/admin/order"><img src="/images/icon/order-icon.png" alt="">Orders</a>
    </li>
    <li>
      <a href="/admin/freelancer"><img src="/images/icon/freelancer-icon.png" alt="">Freelancer List</a>
    </li>
    <li>
      <a href="/admin/packages"><img src="/images/icon/message-icon.png" alt="">Packages</a>
    </li>
    <li class="active">
      <a href="/admin/file-system"><img src="/images/icon/notification-icon.png" alt="">File System</a>
    </li>
    <li>
      <a href="/admin/course"><img src="/images/icon/course-icon.png" alt="">Course</a>
    </li>
    <li>
      <a href="/admin/course-instructor"><img src="/images/icon/course-icon.png" alt="">Course Instructor</a>
    </li>
    <li>
      <a href="/admin/course-category"><img src="/images/icon/course-icon.png" alt="">Course Category</a>
    </li>
    <li>
      <a href="/admin/course-enrollment"><img src="/images/icon/course-icon.png" alt="">Course Enrollment</a>
    </li>
    <li>
      <a href="/admin/chat-alert"><img src="/images/icon/course-icon.png" alt="">Chat Alert</a>
    </li>
    <li>
      <a href="/admin/division"><img src="/images/icon/course-icon.png" alt="">Divisions</a>
    </li>
    <li>
      <a href="/admin/district"><img src="/images/icon/course-icon.png" alt="">Districts</a>
    </li>
    <li>
      <a href="/admin/bid-info"><img src="/images/icon/course-icon.png" alt="">Bid Info</a>
    </li>
    <li>
      <a href="/admin/cancel-bid"><img src="/images/icon/course-icon.png" alt="">Cancel Bid</a>
    </li>
    <li>
      <a href="/admin/plan"><img src="/images/icon/course-icon.png" alt="">Boosting Plan</a>
    </li>
    <li>
      <a href="/admin/plan-detail"><img src="/images/icon/course-icon.png" alt="">Boosting Details</a>
    </li>
  </ul>
</nav>
</div>
<section class="main-content">
  <div class="main-content-header">
    <span class="mobile-menu-icon">
      <i class="bi bi-list"></i>
    </span>
    <div class="main-content-header-top">
      <div class="admin-info">
        <img src="/images/admin-user-image.png" alt="">
        <h6>Admin</h6>
      </div>
      <a href="/admin/log-out" class="logout-btn">Logout</a>
    </div>
    <div class="main-content-header-bottom">
      <h4>Extra Folder</h4>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExtraFolder"><i
          class="bi bi-plus me-2"></i>Add
        Extra Folder</button>
    </div>
    <div class="modal fade" id="addExtraFolder" tabindex="-1" aria-labelledby="addExtraFolderLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Extra Folder</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="add-notification-form">
              <form action="/admin/add-extra-folder/<%= sub_folder_id %>" method="POST" enctype="multipart/form-data">
                <div class="add-notification-form-item">
                  <label for="" class="form-label">Extra Folder Name</label>
                  <input type="text" class="form-control" name="extra_folder_name" placeholder="Extra Folder Name">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-content pt-3 pb-5">
    <div class="banner-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Folder Name</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i<extra_folder.length;i++){ %>
            <tr>
              <td>
                <%= i+1 %>
              </td>
              <td>
                <%= extra_folder[i].extra_folder_name %>
              </td>
              <td>
                <div class="table-action-btn justify-content-end">
                  <a href="#" data-bs-toggle="modal"
                    data-bs-target="#editExtraFolder<%= extra_folder[i].extra_folder_id %>">
                    <i class="bi bi-pencil-fill"></i>
                  </a>
                  <a href="#" data-bs-toggle="modal"
                    data-bs-target="#deleteExtraFolder<%= extra_folder[i].extra_folder_id %>">
                    <i class="bi bi-trash-fill"></i>
                  </a>
                  <a href="/admin/files/<%= extra_folder[i].extra_folder_id %>">Files</a>
                </div>
              </td>
            </tr>
            <div class="modal fade" id="editExtraFolder<%= extra_folder[i].extra_folder_id %>" tabindex="-1"
              aria-labelledby="editExtraFolder<%= extra_folder[i].extra_folder_id %>Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Extra Folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="add-notification-form">
                      <form
                        action="/admin/edit-extra-folder?extra_folder_id=<%= extra_folder[i].extra_folder_id %>&sub_folder_id=<%= sub_folder_id %>"
                        method="POST" enctype="multipart/form-data">
                        <div class="add-notification-form-item">
                          <label for="" class="form-label">Extra Folder Name</label>
                          <input type="text" class="form-control" name="extra_folder_name"
                            value="<%= extra_folder[i].extra_folder_name %>" placeholder="Extra Folder Name">
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="deleteExtraFolder<%= extra_folder[i].extra_folder_id %>" tabindex="-1"
              aria-labelledby="deleteExtraFolder<%= extra_folder[i].extra_folder_id %>Label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Extra Folder</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="add-banner-form">
                      <h3>Are you want to delete?</h3>
                    </div>
                    <a href="/admin/delete-extra-folder?extra_folder_id=<%= extra_folder[i].extra_folder_id %>&sub_folder_id=<%= sub_folder_id %>"
                      class="btn btn-danger">Delete</a>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const activeItem = document.querySelector(".active");
    if (activeItem) {
      activeItem.scrollIntoView({
        block: "center"
      });
    }
  });
</script>
<%- include('partial/footer'); -%>